In [ ]:
https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-

In [18]:
url =("https://www.theguardian.com/ns-all-time-fifty-shades-grey-")
response = requests.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-")
soup = BeautifulSoup(response.text, "html.parser")

In [19]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
url='http://books.toscrape.com/catalogue/page-{}.html'

title=[]
ratings=[]
cost=[]
for page in range(1,51):
    finalurl=url.format(page)
    res=requests.get(finalurl).text
    soup=BeautifulSoup(res,'html.parser')
    for t,r,c in zip(soup.select('.image_container >a>img'),soup.select('p.star-rating'),soup.select('p.price_color')):
        title.append(t['alt'])
        ratings.append(r.attrs['class'][-1])
        cost.append(c.text[1:])

df = pd.DataFrame({"Title":title,"Ratings":ratings,"Cost":cost})
print(df)
df.to_csv('Titlebooks.csv')

                                                 Title Ratings    Cost
0                                 A Light in the Attic   Three  £51.77
1                                   Tipping the Velvet     One  £53.74
2                                           Soumission     One  £50.10
3                                        Sharp Objects    Four  £47.82
4                Sapiens: A Brief History of Humankind    Five  £54.23
..                                                 ...     ...     ...
995  Alice in Wonderland (Alice's Adventures in Won...     One  £55.53
996   Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)    Four  £57.06
997  A Spy's Devotion (The Regency Spies of London #1)    Five  £16.97
998                1st to Die (Women's Murder Club #1)     One  £53.98
999                 1,000 Places to See Before You Die    Five  £26.08

[1000 rows x 3 columns]

In [20]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

res=requests.get("http://books.toscrape.com/index.html").text
soup=BeautifulSoup(res,'html.parser')
#Get the total page count
pagecount=soup.select_one('.current').text.split('of')[-1].strip()

title=[]
ratings=[]
cost=[]
for page in range(1,int(pagecount)+1):
    finalurl="http://books.toscrape.com/catalogue/page-{}.html".format(page)
    res=requests.get(finalurl).text
    soup=BeautifulSoup(res,'html.parser')
    for t,r,c in zip(soup.select('.image_container >a>img'),soup.select('p.star-rating'),soup.select('p.price_color')):
        title.append(t['alt'])
        ratings.append(r.attrs['class'][-1])
        cost.append(c.text[1:])

In [21]:
df = pd.DataFrame({"Title":title,"Ratings":ratings,"Cost":cost})
print(df)
df.to_csv('Titlebooks.csv')

                                                 Title Ratings    Cost
0                                 A Light in the Attic   Three  £51.77
1                                   Tipping the Velvet     One  £53.74
2                                           Soumission     One  £50.10
3                                        Sharp Objects    Four  £47.82
4                Sapiens: A Brief History of Humankind    Five  £54.23
..                                                 ...     ...     ...
995  Alice in Wonderland (Alice's Adventures in Won...     One  £55.53
996   Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)    Four  £57.06
997  A Spy's Devotion (The Regency Spies of London #1)    Five  £16.97
998                1st to Die (Women's Murder Club #1)     One  £53.98
999                 1,000 Places to See Before You Die    Five  £26.08

[1000 rows x 3 columns]